// Forms styles
.form {
  &-group {
    margin: 1.2rem 0;
  }

  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888888;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #cccccc;
  }

  input[type="submit"] {
    font: inherit;
  }

  .social-input {
    display: flex;

    svg {
      padding: 0.5rem;
      width: 4rem;
      font-size: 3em;

      &.fa-twitter {
        color: #38a1f3;
      }

      &.fa-facebook {
        color: #3b5998;
      }

      &.fa-youtube {
        color: #c4302b;
      }

      &.fa-linkedin {
        color: #0077b5;
      }

      &.fa-instagram {
        color: #3f799b;
      }
    }
  }
}
