// Navbar styles
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    color: #ffffff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
        color: $primary-color;
    }
  }
}
