// Colors
$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

// Sizes
$max-width: 1100px;

// Margins & Padding
$space-amounts: (1, 2, 3, 4, 5);

@each $space in $space-amounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // All around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
