@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "./mixins";
@import "./variables";
@import "./resets";
@import "./texts";
@import "./background";
@import "./buttons";
@import "./navbar";
@import "./form";
@import "./alerts";

// Container styles
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Landing
.landing {
  position: relative;
  background: url("./../assets/img/adult-blur-books-842567.jpg") no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

//  Profiles page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

// Round images
.round-img {
  border-radius: 50%;
}
